@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


@model BusinessCourse_Application.Services.Membership.Command.AddMembershipCommand

<form id="membershipForm" enctype="multipart/form-data">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">@Localizer.GetString("AddMembership")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-6">
                    <div class="col mb-0">
                        <label for="emailBasic" class="form-label">@Localizer.GetString("Rank")</label>
                        <input type="text" id="membershipRank" class="form-control" asp-for="Rank" required>
                    </div>
                    <div class="col mb-0">
                        <label for="dobBasic" class="form-label">@Localizer.GetString("Tier")</label>
                        <input type="number" id="membershipTier" class="form-control" asp-for="Tier" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button id="submit" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</form>

<script>
    $("#submit").click(function () {
        var formValid = $('#membershipForm').valid();

        if (!formValid) return;
        // initToastr();
        showLoading();
        addRecord();
    });

    function addRecord() {
        var formData = new FormData($('#membershipForm')[0]);

        $.ajax({
            url: "/Memberships/AddMemberships",
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            dataType: "json",
            success: function (data) {
                hideLoading();
                if (data.result.succeeded == true) {
                    toastr["success"]("The action has been completed successfully", "Success");
                    globalTableData.api().ajax.reload();
                    $('#membershipModal').modal('hide');
                } else {
                    toastr["error"](data.message, "Error");
                }
            },
            error: function (e) {
                hideLoading();
                $('#membershipModal').modal('hide');
                toastr["error"](e, "Error");
            }
        });
    }

    var showLoading = function () {
        $(".loading").show();
    }

    var hideLoading = function () {
        $(".loading").hide();
    }
</script>
