/* Absolute Center Spinner */
.loading {
  position: fixed;
  display: none;
  z-index: 9999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

    .loading:not(:required):after {
      content: '';
      display: block;
      font-size: 10px;
      width: 1em;
      height: 1em;
      margin-top: -0.5em;
      -webkit-animation: spinner 1500ms infinite linear;
      -moz-animation: spinner 1500ms infinite linear;
      -ms-animation: spinner 1500ms infinite linear;
      -o-animation: spinner 1500ms infinite linear;
      animation: spinner 1500ms infinite linear;
      border-radius: 0.5em;
      -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
      box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    }

.metismenu .mm-active .metismenu-icon {
  color: #669df6;
  opacity: 0.8;
}

.bg-purple {
  background: #340067 !important;
}

.app-sidebar__heading {
  color: #340067 !important;
}

.select2-selection--multiple:before {
  content: "";
  position: absolute;
  right: 7px;
  top: 42%;
  border-top: 5px solid #888;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.divider-h {
  display: inline-block;
  align-self: stretch;
  width: 3px;
  min-height: 1em;
  background-color: #000000;
  margin: 0 0.5rem;
}

.dataTable th, .dataTable td {
  padding: 0.35rem 0.55rem;
}

.header-user-info {
  display: block !important;
}
/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.total-container p {
  margin-right: 10px;
  margin-top: 10px;
  border: black solid 4px;
  background-color: #050000;
  color: white;
  box-shadow: 5px 10px silver;
  border-radius: 6px;
}

.total-container {
  margin-right: unset;
  margin-left: unset;
}

.PageList {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
}

  .PageList:hover {
    color: #bebebe;
  }

.PageArrow {
  color: #7f7f7f;
  font-size: 18px
}

  .PageArrow:hover {
    color: inherit;
    text-decoration: none !important;
  }

.sortTag {
  color: blue !important;
  cursor: pointer !important;
}

  .sortTag :hover {
    text-decoration: underline !important;
  }

.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*@media {
    .lang-btn-select {
        height: 28px;
        width: 28px;
        border: 2px #FFD700 solid;
    }
}*/

.dt-button-collection {
  position: absolute;
  z-index: 999;
  width: 150px;
  height: auto;
  display: block;
  padding: .25rem .5rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .2rem;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.buttons-columnVisibility {
  display: inherit;
  background: #e5e5e5;
  border: transparent;
  width: 100%;
}

  .buttons-columnVisibility.active {
    background: transparent;
  }

  .buttons-columnVisibility:hover {
    background: #e5e5e5;
  }



.specialModal {
  display: none;
  position: fixed;
  z-index: 1;
  /* padding-top: 100px; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9)
}

.specialModal-content {
  margin: auto;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  max-width: 400px;
  z-index: 1;
  -webkit-animation-name: zoomImage;
  -webkit-animation-duration: 0.6s;
  animation-name: zoomImage;
  animation-duration: 0.6s;
}

.behindSpecialModal {
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.enlargeImage {
  cursor: pointer;
}

.closeSpecialModal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

  .closeSpecialModal:hover,
  .closeSpecialModal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

@keyframes zoomImage {
  from {
    transform: scale(0.1)
  }

  to {
    transform: scale(1)
  }
}

@-webkit-keyframes zoomImage {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

@media (min-width:768px) {
  .overflowdesktop {
    overflow: auto;
  }
}
